.container {
    text-align: center;
}

#manifesto li {
    text-align: left;
    padding: .5em;
}

#params-container {
    /*margin: 0 auto;*/
    /*width: 20em;*/
}

form .form-group {
    padding: .5em;
}

#loading {
    visibility: hidden;
}
.glyphicon.spinning {
    font-size: 2.5em;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
